@model Multas.Models.Agentes

@{
    ViewBag.Title = "Details";
}

<h2>Agente <i>@Model.Nome</i></h2>

<div>
    <h4>Agentes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Esquadra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Esquadra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fotografia)
        </dt>

        <dd>
            <img src="~/imagens/@Model.Fotografia" />
        </dd>

    </dl>


    <hr />

    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(model => model.ListaDasMultas.FirstOrDefault().ID)</th>
            <th>@Html.DisplayNameFor(model => model.ListaDasMultas.FirstOrDefault().DataDaMulta)</th>
            <th>@Html.DisplayNameFor(model => model.ListaDasMultas.FirstOrDefault().ValorMulta)</th>
        </tr>

        @foreach (var multa in Model.ListaDasMultas)
        {
        <tr>
            <td>
                @multa.ID
            </td>
            <td>
                @multa.DataDaMulta
            </td>
            <td>
                @multa.LocalDaMulta
            </td>
            <td>
                <a href="/condutores/details/@multa.Condutor.ID">@multa.Condutor.Nome</a>
            </td>
            <td>
                @multa.Viatura.Matricula
            </td>
        </tr>
        }
    </table>

    <hr />
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
